@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fascinate&family=Oi&family=Plaster&family=Suravaram&display=swap');

*{
    margin:0;
    text-decoration: none;
    padding:0;
    box-sizing: 0;
}
.texto{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f4cea7;
    -webkit-border-radius: 100px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 100%;
}

body{
    background-color:#fff3e7;
}

.ieda .col-2{
    margin-top: 200px;
}

.separa{
    margin-top: 5%;   
}

.bordaImagem img{
    -webkit-border-radius: 100px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 100%;
}