@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fascinate&family=Oi&family=Plaster&family=Suravaram&display=swap');

*{
    margin:0;
    text-decoration: none;
    padding:0;
    box-sizing: 0;
    font-family: "Courgette", serif;
    background-color: #fff3e7;
}

header{
    background-color:rgb(186, 243, 185) ;
    padding: 0.5%;
    font-family:"Oi", serif;;
}